<p id="notice"><%= notice %></p>

<h1>Listing Procedure Subcategories</h1>

<table  class="jquery-datatables">
  <thead>
    <tr>
      <th>Procedure category</th>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @procedure_subcategories.each do |procedure_subcategory| %>
      <tr>
        <td><%= procedure_subcategory.procedure_category_id %></td>
        <td><%= procedure_subcategory.name %></td>
        <td><%= procedure_subcategory.description %></td>
        <td><%= link_to 'Show', procedure_subcategory %></td>
        <td><%= link_to 'Edit', edit_procedure_subcategory_path(procedure_subcategory) %></td>
        <td><%= link_to 'Destroy', procedure_subcategory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Procedure subcategory', new_procedure_subcategory_path %>
