<%= form_for(@clinic_service) do |f| %>
  <% if @clinic_service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clinic_service.errors.count, "error") %> prohibited this clinic_service from being saved:</h2>

      <ul>
      <% @clinic_service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :clinic_id %><br>
    <%= f.number_field :clinic_id %>
  </div>
  <div class="field">
    <%= f.label :service_id %><br>
    <%= f.number_field :service_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
