  <!--slider-->
      <div id="home-search">
         <div class="home-bg"></div>
         <div class="search-wrapper">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <h1>Find Health Care Abroad</h1>
                     <form class="form-inline">
                        <div class="form-group location">
                           <select class="form-control">
                              <option>All Destinations</option>
                              <option>Poland</option>
                              <option>Mexico</option>
                           </select>
                        </div>
                        <div class="form-group">
                           <input type="text" class="form-control" placeholder="Search by procedure, e.g. teeth whitening, laser ">
                        </div>
                        <button type="submit" class="btn btn-primary">Search</button>
                     </form>
                  </div>
               </div>
            </div>
         </div>
         <div id="banner-features">
            <div class="container">
               <div class="row">
                  <div class="col-md-3">
                     <a href="#"><strong>Internationally accredited Hospitals</strong></a>
                  </div>
                  <div class="col-md-3">
                     <a href="#"><strong>Health Care for every budget</strong></a>
                  </div>
                  <div class="col-md-3">
                     <a href="#"><strong>Dedicated personal assistance</strong></a>
                  </div>
                  <div class="col-md-3">
                     <a href="#"><strong class="last">Completely Free Consultations</strong></a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--general services-->
      <div class="home-features clearfix">
         <div class="container">
            <div class="row">
               <div class="col-md-4">
                  <div class="features-intro clearfix">
                     <h2>How can<span> Mediwalla </span>help me?</h2>
                     <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                     <a class="read-more" href="services-two-columns.html">View Our Services</a>
                  </div>
               </div>
               <div class="col-md-8">
                  <div class="row">
                     <div class="col-sm-6 single-feature">
                        <div class="row">
                           <div class="col-sm-3 icon-wrapper">
                              <i class="fa fa-plus-square fa-custom"></i>
                           </div>
                           <div class="col-sm-9">
                              <h3>Rehabilitation Center</h3>
                              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.</p>
                           </div>
                        </div>
                     </div>
                     <div class="col-sm-6 single-feature">
                        <div class="row">
                           <div class="col-sm-3 icon-wrapper">
                              <i class="fa fa-medkit fa-custom"></i>
                           </div>
                           <div class="col-sm-9">
                              <h3>Medical Counseling</h3>
                              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.</p>
                           </div>
                        </div>
                     </div>
                     <div class="col-sm-6 single-feature">
                        <div class="row">
                           <div class="col-sm-3 icon-wrapper">
                              <i class="fa fa-user-md fa-custom"></i>
                           </div>
                           <div class="col-sm-9">
                              <h3>Qualified Doctors </h3>
                              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.</p>
                           </div>
                        </div>
                     </div>
                     <div class="col-sm-6 single-feature">
                        <div class="row">
                           <div class="col-sm-3 icon-wrapper">
                              <i class="fa fa-ambulance fa-custom"></i>
                           </div>
                           <div class="col-sm-9">
                              <h3>Emergency Services</h3>
                              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--general services end-->
      <!--doctors section-->
      <div class="home-doctors  clearfix">
         <div class="container">
            <div class="slogan-section animated fadeInUp clearfix">
               <h2>Popular Procedures</h2>
            </div>
            <div class="row">
               <div class="col-md-3 col-sm-6  text-center">
                  <div class="common-doctor animated fadeInUp clearfix">
                     <figure>
                   <a href="#"><%=image_tag("procedures/pro-1.jpg", alt: "Dental", class: "")%></a>
                     </figure>
                     <div class="text-content">
                        <h5><a href="#">Dental Procedures</a></h5>
                        <div class="for-border"></div>
                        <p>
                           This text represents a brief introduction of doctor and this text will be displayed on homepage and all the places where multiple doctors are listed.
                        </p>
                     </div>
                  </div>
                  <a class="read-more" href="#">Read More</a>
               </div>
               <div class="col-md-3 col-sm-6  text-center">
                  <div class="common-doctor animated fadeInUp clearfix">
                     <figure>
                        <a href="#"><%=image_tag("procedures/pro-2.jpg", alt: "Dental", class: "")%></a>
                     </figure>
                     <div class="text-content">
                        <h5><a href="#">Cosmetic Surgery</a></h5>
                        <div class="for-border"></div>
                        <p>
                           This text represents a brief introduction of doctor and this text will be displayed on homepage and all the places where multiple doctors are listed.
                        </p>
                     </div>
                  </div>
                  <a class="read-more" href="#">Read More</a>
               </div>
               <div class="visible-sm clearfix margin-gap"></div>
               <div class="col-md-3 col-sm-6  text-center">
                  <div class="common-doctor animated fadeInUp clearfix">
                     <figure>
                        <a href="#"><%=image_tag("procedures/pro-3.jpg", alt: "Dental", class: "")%></a>
                     </figure>
                     <div class="text-content">
                        <h5><a href="#">Opthalmology</a></h5>
                        <div class="for-border"></div>
                        <p>
                           This text represents a brief introduction of doctor and this text will be displayed on homepage and all the places where multiple doctors are listed.
                        </p>
                     </div>
                  </div>
                  <a class="read-more" href="#">Read More</a>
               </div>
               <div class="col-md-3 col-sm-6  text-center">
                  <div class="common-doctor animated fadeInUp clearfix">
                     <figure>
                     <a href="#"><%=image_tag("procedures/pro-4.jpg", alt: "Dental", class: "")%></a>
                     </figure>
                     <div class="text-content">
                        <h5><a href="#">Reproductive Medicine</a></h5>
                        <div class="for-border"></div>
                        <p>
                           This text represents a brief introduction of doctor and this text will be displayed on homepage and all the places where multiple doctors are listed.
                        </p>
                     </div>
                  </div>
                  <a class="read-more" href="#">Read More</a>
               </div>
               <div class="visible-sm clearfix margin-gap"></div>
            </div>
         </div>
      </div>
      <!--doctors section end-->
      <!--blog posts section-->
      <div class="home-blog text-center clearfix">
         <div class="container">
            <div class="slogan-section animated fadeInUp clearfix">
               <h2>Mediwalla Medical Travel</h2>
            </div>
            <div class="row">
               <div class="col-md-4">
                  <article class="round-list animated fadeInRight clearfix">
                     <h4>What is Mediwalla Travel</h4>
                     <figure>
                     <a href="#"><%=image_tag("travel-1.jpg", alt: "Dental", class: "")%></a>
                     </figure>
                     <div class="text-content clearfix">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat&hellip; </p>
                     </div>
                  </article>
                  <a class="read-more" href="image-post-format.html">Read More</a>
               </div>
               <div class="col-md-4">
                  <article class="round-list animated fadeInRight clearfix">
                     <h4>Curated Market Place</h4>
                     <figure>
                        <a href="#"><%=image_tag("travel-2.jpg", alt: "Dental", class: "")%></a>
                     </figure>
                     <div class="text-content clearfix">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat&hellip; </p>
                     </div>
                  </article>
                  <a class="read-more" href="image-post-format.html">Read More</a>
               </div>
               <div class="col-md-4">
                  <article class="round-list animated fadeInRight clearfix">
                     <h4>Not Sure Where to Start?</h4>
                     <figure>
                        <a href="#"><%=image_tag("travel-3.jpg", alt: "Dental", class: "")%></a>
                     </figure>
                     <div class="text-content clearfix">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat&hellip; </p>
                     </div>
                  </article>
                  <a class="read-more" href="image-post-format.html">Read More</a>
               </div>
            </div>
         </div>
      </div>
      <!--blog posts section end-->
      <!--testimonials section-->
      <div class="home-testimonial  clearfix">
         <div class="container">
            <div class="text-center">
               <div class="slogan-section animated fadeInUp clearfix">
                  <h2>What patients say <span>About Mediwalla</span></h2>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-1"></div>
               <div class="col-sm-10 text-center">
                  <div class="flexslider-three animated fadeInUp">
                     <ul class="slides">
                        <li>
                           <%=image_tag("testimonial/user-1.jpg", alt: "Dental", class: "img-circle")%> 
                           <blockquote>
                              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam quis nostrud exerci tation.</p>
                           </blockquote>
                           <div class="testimonial-footer clearfix">
                              <h3>Marina Forrest</h3>
                              <div class="for-border"></div>
                              <p><a target="_blank" href="#">Autommatic</a></p>
                           </div>
                        </li>
                        <li>
                            <%=image_tag("testimonial/user-1.jpg", alt: "Dental", class: "img-circle")%> 
                           <blockquote>
                              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                           </blockquote>
                           <div class="testimonial-footer clearfix">
                              <h3>Jaden Wayne</h3>
                              <div class="for-border"></div>
                              <p><a target="_blank" href="#">commodo consequat</a></p>
                           </div>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="col-sm-1"></div>
            </div>
         </div>
      </div>
      <!--testimonials section end-->