
  <div class="page-top clearfix">
         <div class="container">
            <!--page main heading-->
            <nav class="bread-crumb">
               <ul class="breadcrumb clearfix">
                  <li><a href="#">Home</a><span class="divider"></span></li>
                  <li><a href="#">Brazil</a><span class="divider"></span></li>
                  <li><a href="#">Rio de Janeiro</a><span class="divider"></span></li>
                  <li class="active">Alexander Hohn</li>
               </ul>
            </nav>
             <h1 class="title">Alexander Hohn <br/><p>Rio de Janeiro, Brazil</p></h1>

         </div>
      </div>
      <div class="main clearfix">
         <div class="container">
         
    <article class="gallery-single clearfix hentry">
            <div class="row">
                <div class="col-sm-8">
                    <div class="gallery-single-post clearfix">
                        <div class="clearfix" id="slider">
                            <!--slider-->
                            <ul class="slides">
                                <li><%=image_tag("gallery/1.jpg", alt: "", class: "")%></li>
                                <li><%=image_tag("gallery/1.jpg", alt: "", class: "")%></li>
                                <li><%=image_tag("gallery/1.jpg", alt: "", class: "")%></li>
                                <li><%=image_tag("gallery/1.jpg", alt: "", class: "")%></li>
                                <li><%=image_tag("gallery/1.jpg", alt: "", class: "")%></li>
                            </ul>
                        </div>
                        <div id="carousel" class="flexslider">
                            <!--thumbnail carousel for slider-->
                            <ul class="slides">
                                <li><%=image_tag("gallery/1.jpg", alt: "", class: "")%></li>
                                <li><%=image_tag("gallery/1.jpg", alt: "", class: "")%></li>
                                <li><%=image_tag("gallery/1.jpg", alt: "", class: "")%></li>
                                <li><%=image_tag("gallery/1.jpg", alt: "", class: "")%></li>
                                <li><%=image_tag("gallery/1.jpg", alt: "", class: "")%></li>
                            </ul>
                        </div>
                    </div>
                    <div class="detail-wrapper">
                    <ul id="detail-tab" class="tabs">
                      <li  class="active"><a href="#procedures">Procedures</a></li>
                      <li><a href="#overview">Overview</a></li>
                      <li><a href="#staff">Staff</a></li>
                      <li><a href="#review">Reviews</a></li>
                    </ul>
                </div>
                 <section id="procedures">
                    <h3 class="sub-title">Procedures</h3>
                    <hr>
                     <ul class="pills tabs-nav clearfix">
                        <li><a href="#">All Specialities (8)</a></li>
                      <li><a href="#">Plastic and Cosmetic Surgery (5)</a></li>
                      <li><a href="#">Cosmetology (2)</a></li>
                      <li><a href="#">Dermatology (1)</a></li>
                        
                    </ul>
                    <div class="tabs-container">
                        <div class="tab-content">

                         <div class="toggle-main">
                        <div class="toggle">
                            <div class="toggle-title">
                                <h3>  PLASTIC AND COSMETIC SURGERY <span>(3 procedures)</span></h3>
                            </div>
                            <div class="toggle-content">
                              <table class="table category-list">
                    <caption><a href="#">Plastic and Cosmetic Surgery (3 Procedures)</a></caption>
                    <tbody>
                      <tr>
                        <td>
                          Dermal Fillers
                        </td>
                        <td><b>$319 - $372</b></td>
                        <td><a href="#">Inquire</a></td>
                      </tr>
                      <tr>
                        <td>Wrinkle Treatment</td>
                        <td><b>$31 - $72</b></td>
                        <td><a href="#">Inquire</a></td>
                      </tr>
                      <tr>
                        <td>Botox Injections</td>
                        <td>From <b>$80</b></td>
                        <td><a href="#">Inquire</a></td>
                      </tr>
                    </tbody>
                  </table></div></div>

                                <div class="toggle">
                                  <div class="toggle-title"><h3>COSMETOLOGY <span>(2 procedures)</span></h3></div><div class="toggle-content"><table class="table category-list">
                    <caption><a href="#">Cosmetology (2 Procedures)</a></caption>
                    <tbody>
                      <tr>
                      
                        <td>Wrinkle Treatment</td>
                        <td><b>$31 - $72</b></td>
                        <td><a href="#">Inquire</a></td>
                      </tr>
                      <tr>
                        <td>Botox Injections</td>
                        <td>From <b>$80</b></td>
                        <td><a href="#">Inquire</a></td>
                      </tr>
                    </tbody>
                  </table></div></div><div class="toggle"><div class="toggle-title"><h3>DERMATOLOGY <span>(1 procedure)</span></h3></div><div class="toggle-content"><table class="table category-list">
                    <caption><a href="#">Dermatology (1 Procedure)</a></caption>
                    <tbody>
                      <tr>
                        <td>Botox Injections</td>
                        <td>From <b>$80</b></td>
                        <td><a href="#">Inquire</a></td>
                      </tr>
                    </tbody>
                  </table>
                    </div>
                    </div>
                    </div>
                             </div><div class="tab-content"> <table class="table category-list">
                    <caption><a href="#">Plastic and Cosmetic Surgery (3 Procedures)</a></caption>
                    <tbody>
                      <tr>
                        <td>
                          Dermal Fillers
                        </td>
                        <td><b>$319 - $372</b></td>
                        <td><a href="#">Inquire</a></td>
                      </tr>
                      <tr>
                        <td>Wrinkle Treatment</td>
                        <td><b>$31 - $72</b></td>
                        <td><a href="#">Inquire</a></td>
                      </tr>
                      <tr>
                        <td>Botox Injections</td>
                        <td>From <b>$80</b></td>
                        <td><a href="#">Inquire</a></td>
                      </tr>
                    </tbody>
                  </table></div>
                  <div class="tab-content"><table class="table category-list">
                    <caption><a href="#">Cosmetology (2 Procedures)</a></caption>
                    <tbody>
                      <tr>
                        <td>
                          Dermal Fillers
                        </td>
                        <td><b>$319 - $372</b></td>
                        <td><a href="#">Inquire</a></td>
                      </tr>
                      <tr>
                        <td>Wrinkle Treatment</td>
                        <td><b>$31 - $72</b></td>
                        <td><a href="#">Inquire</a></td>
                      </tr>
                    
                    </tbody>
                  </table>
                    </div>
                     <div class="tab-content"><table class="table category-list">
                    <caption><a href="#">Dermatology (1 Procedure)</a></caption>
                    <tbody>
                      <tr>
                        <td>
                          Dermal Fillers
                        </td>
                        <td><b>$319 - $372</b></td>
                        <td><a href="#">Inquire</a></td>
                      </tr>
                     
                    </tbody>
                  </table>
                    </div>
                    </div>
                  </section>
                  <section id="overview">
                    <h3>Overview</h3>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  </section> 
                  <section id="staff">
                    <h3>Staff</h3>
                    <hr>
                    <p>Dr. Kongkiat Laorwong, MD, leads the staff with over 10 years experience. </p>
                    <p>Dr. Laorwong received his degree in hair restoration from Prince of Songkla University in Thailand. He's a diplomate of the Thai Board of Family Medicine and the American Board of Hair Restoration Surgery.</p>
                  </section> 
                  <section id="review">
                    <h3>Reviews</h3>
                    <hr>
                    <ol class="comments-list">

                  <li class="clearfix">
                    <!-- Avatar -->
                    <div class="avatar">
                      <img alt="avatar" src="images/avatar.png">
                    </div>
                    <!-- /Avatar -->
                    
                    <div class="comment-box clearfix">
                      <!-- Author -->
                      <div class="author clearfix">
                        <a class="username" href="#">Sean Carter</a>
                        <span class="date">Feb 16th, 2015 10:14 am</span>
                      </div>
                      <!-- /Author -->
                      
                      <!-- rating -->
                      <ul class="hlinks hlinks-rating">
                        <li class="active"><a href="#"><i class="icon fa fa-star"></i></a></li>
                        <li class="active"><a href="#"><i class="icon fa fa-star"></i></a></li>
                        <li class="active"><a href="#"><i class="icon fa fa-star"></i></a></li>
                        <li><a href="#"><i class="icon fa fa-star"></i></a></li>
                        <li><a href="#"><i class="icon fa fa-star"></i></a></li>
                      </ul>
                      <!-- /rating -->

                      <!-- Comment -->
                      <p class="comment">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words</p>
                      <!-- /Comment -->
                    </div>
                    
                  </li>

                  <li class="clearfix">
                    <!-- Avatar -->
                    <div class="avatar">
                      <img alt="avatar" src="images/avatar.png">
                    </div>
                    <!-- /Avatar -->
                    
                    <div class="comment-box clearfix">
                      <!-- Author -->
                      <div class="author clearfix">
                        <a class="username" href="#">Mary Jane</a>
                        <span class="date">Feb 11th, 2015 4:00 am</span>
                      </div>
                      <!-- /Author -->

                      <!-- rating -->
                      <ul class="hlinks hlinks-rating">
                        <li class="active"><a href="#"><i class="icon fa fa-star"></i></a></li>
                        <li class="active"><a href="#"><i class="icon fa fa-star"></i></a></li>
                        <li class="active"><a href="#"><i class="icon fa fa-star"></i></a></li>
                        <li><a href="#"><i class="icon fa fa-star"></i></a></li>
                        <li><a href="#"><i class="icon fa fa-star"></i></a></li>
                      </ul>
                      <!-- /rating -->

                      <!-- Comment -->
                      <p class="comment">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words</p>
                      <!-- /Comment -->
                    </div>
                    
                  </li>

                  <li class="clearfix">
                    <!-- Avatar -->
                    <div class="avatar">
                      <img alt="avatar" src="images/avatar.png">
                    </div>
                    <!-- /Avatar -->
                    
                    <div class="comment-box clearfix">
                      <!-- Author -->
                      <div class="author clearfix">
                        <a class="username" href="#">John Doe</a>
                        <span class="date">Feb 11th, 2015 12:25 am</span>
                      </div>
                      <!-- /Author -->

                      <!-- rating -->
                      <ul class="hlinks hlinks-rating">
                        <li class="active"><a href="#"><i class="icon fa fa-star"></i></a></li>
                        <li class="active"><a href="#"><i class="icon fa fa-star"></i></a></li>
                        <li class="active"><a href="#"><i class="icon fa fa-star"></i></a></li>
                        <li><a href="#"><i class="icon fa fa-star"></i></a></li>
                        <li><a href="#"><i class="icon fa fa-star"></i></a></li>
                      </ul>
                      <!-- /rating -->

                      <!-- Comment -->
                      <p class="comment">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words</p>
                      <!-- /Comment -->
                    </div>
                    
                  </li>
                        
                </ol>
                <div id="comments-section">

                    <div id="respond" class="comment-respond">
                        <h3 id="reply-title" class="comment-reply-title">Leave a Reply</h3>
                        <hr>
                        <form action="#" method="post" id="commentform" class="comment-form">
                            <p class="comment-form-author">
                                <label for="author">Name <span class="required">*</span></label>
                                <input id="author" name="author" type="text" value="" size="30" aria-required="true">
                            </p>
                            <p class="comment-form-comment">
                                <label for="comment">Comment</label>
                                <textarea id="comment" name="comment" cols="45" rows="8" aria-required="true"></textarea>
                            </p>
                            <p class="form-submit">
                                <input name="submit" type="submit" id="submit" value="Post your review">
                                <input type="hidden" name="comment_post_ID" value="86" id="comment_post_ID">
                                <input type="hidden" name="comment_parent" id="comment_parent" value="0">
                            </p>
                        </form>
                    </div><!-- #respond -->
                </div>
                  </section>
                </div>
                <div class="col-sm-4">
                    <div class="side-content clearfix">
                        <!--gallery item title-->
                        <h3>YOUR INQUIRY</h3>
                        <form>
                          <legend>PLASTIC AND COSMETIC SURGERY</legend>
                          <label>Please select a procedure</label>
                          <select>
                            <option>General Inquiry</option>
                            <option>Crown Implants</option>
                            <option>Crown Implants</option>
                          </select>
                         
                           <a href="#">Learn more about plastic and cosmetic surgery</a>
                       
                          <input name="submit" type="submit" id="submit" class="btn-block" value="CONTACT US FREE">
                        </form>
                    </div>
                </div>
            </div>
       
    </article>
            <div class="related-gallery-items">
                <h3 class="subtitle">Recently Viewed Clinics</h3>
                <hr>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6">
                <article class="common clearfix hentry">
                    <a href="#" title="Blood Pressure Checkup">
                            <%=image_tag("gallery/1.jpg", alt: "", class: "")%>
                        </a>
                    <div class="content clearfix">
                        <h5><a href="#">SANI DENTAL GROUP - PLATNIUM</a></h5>
                        <p>Los Algodones, Mexico</p>
                        
                    </div>
                </article>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 ">
                <article class="common clearfix hentry">
                     <a href="#" title="Blood Pressure Checkup">
                            <%=image_tag("gallery/1.jpg", alt: "", class: "")%>
                        </a>
                    <div class="content clearfix">
                        <h5><a href="#">Albusdent</a></h5>
                        <p>Krakow, Poland</p>
                       
                    </div>
                </article>
            </div>
            <div class="visible-sm clearfix"></div>
            <div class="col-lg-3 col-md-3 col-sm-6 ">
                <article class="common clearfix hentry">
                        <a href="#" title="Blood Pressure Checkup">
                          <%=image_tag("gallery/1.jpg", alt: "", class: "")%>
                        </a>
                    <div class="content clearfix">
                        <h5><a href="#">Costa Rica Bluezone Guanacaste</a></h5>
                        <p>Guanacaste, Costa Rica</p>
                    </div>
                </article>
            </div>
              <div class="col-lg-3 col-md-3 col-sm-6 ">
                <article class="common clearfix hentry">
                     <a href="#" title="Blood Pressure Checkup">
                            <%=image_tag("gallery/1.jpg", alt: "", class: "")%>
                        </a>
                    <div class="content clearfix">
                        <h5><a href="#">Albusdent</a></h5>
                        <p>Krakow, Poland</p>
                       
                    </div>
                </article>
            </div>
        </div>
    
               </div>
            </div>
         </div>
      </div>
