<%= form_for(@procedure_category) do |f| %>
  <% if @procedure_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@procedure_category.errors.count, "error") %> prohibited this procedure_category from being saved:</h2>

      <ul>
      <% @procedure_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= text_area(:procedure_category, :description, cols: 10, rows: 5)   %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
